<div class="nb-container">
    <MudPaper Width="300px">
        <MudList Clickable="true">
            <MudListSubheader>
                Menu
            </MudListSubheader>
            <MudListItem Icon="@Icons.Material.Filled.Home" Href="/">
                Dashboard
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Web" Href="/sites">
                Sites
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.AttachMoney" Href="/costandprofit">
                Cost and Profit
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Code" Href="/scripts">
                Scripts
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.Cable" Text="Connections" InitiallyExpanded="false">
                <NestedList>
                    <MudListItem Icon="@Icons.Custom.Brands.GitHub" Href="connections/github">
                        Github
                    </MudListItem>
                    <MudListItem Icon="@Icons.Material.Filled.Business" Href="connections/aws">
                        Amazon Web Services
                    </MudListItem>
                </NestedList>
            </MudListItem>
            <MudListItem Icon="@Icons.Material.Filled.MonitorHeart" Href="/logs">
                Logs
            </MudListItem>
        </MudList>
    </MudPaper>
</div>