@using Blace.Editing;
@using Microsoft.AspNetCore.Components.Forms
@using WebBuilder2.Client.Models;
@using WebBuilder2.Client.Utils;

<MudDialog>
    <DialogContent>
        <EditForm Model="@_script" OnValidSubmit="@OnValidSubmit">
            <DataAnnotationsValidator />
            <MudTextField Label="Script Name" T="string" @bind-Value="@_script.Name" Required="true" For="@(() => _script.Name)"></MudTextField>
            <MudSelect T="Syntax" Label="Syntax" Clearable="false" AnchorOrigin="Origin.BottomCenter" ToStringFunc="@_syntaxSelectConverter" Required="false" ValueChanged="OnSyntaxSelectionChanged">
                @foreach (Syntax syntax in EnumHelper.All<Syntax>())
                {
                    <MudSelectItem Value="@syntax" />
                }
            </MudSelect>
            <div>
                <CodeEditor @ref="@_codeEditor" FileChanged="@OnFileChanged" />
            </div>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled">Create</MudButton>
        </EditForm>
    </DialogContent>
</MudDialog>