@using WebBuilder2.Shared.Utils
<div>
    @if(!Sites.Any())
    {
        <MudCard>
            No sites found
        </MudCard>
    }
    @foreach (SiteModel site in Sites)
    {
        <MudCard Class="st-site-card" @onclick="@(() => OnSiteCardClicked(site))">
            <MudImage Src="resources/duck.jpg" />
            <div class="st-card-details">
                <div class="st-card-info">
                    <MudText class="card-site-name">Site Name: @site.Name</MudText>
                    <MudText class="card-site-name">Site Description: @site.Description</MudText>
                    @if (site.Repository != null)
                    {
                        <MudText>Repo Name: @site.Repository.Name</MudText>
                    }
                    else
                    {
                        <MudText>Repo Name: NULL</MudText>
                    }
                    @if(site.SSLCertificateIssueDate != null)
                    {
                        <MudText class="card-site-name">SSL Issue Date: @site.SSLCertificateIssueDate</MudText>
                        <MudText class="card-site-name">SSL ARN: <MudLink Href=@($"https://{site.Region.EnumValue()}.console.aws.amazon.com/acm/home?region={site.Region.EnumValue()}#/certificates/{site.CertificateID}") Target="_blank">@site.SSLARN</MudLink></MudText>
                    }
                </div>
                <div class="st-btn-row">
                    <MudButton class="st-card-delete-site-btn" Variant="Variant.Filled" OnClick="@(() => OnDeleteSiteBtnClicked(site))">Delete Site</MudButton>
                    @if (site.SSLCertificateIssueDate == null)
                    {
                        <MudButton class="st-card-add-ssl-cert-btn" Variant="Variant.Filled" OnClick="@(() => OnAddSSLCertBtnClicked(site))">Add SSL Certificate</MudButton>
                    }
                </div>
            </div>
        </MudCard>
    }
</div>